<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.millburnrobotics.ftcscoutingapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_millburn_w"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartScreenActivity"
            android:label="@string/title_activity_start_screen"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AddTeamActivity"
            android:label="@string/title_activity_add_team"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AddCompetitionActivity"
            android:label="@string/title_activity_add_competition"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SelectCompetitionActivity"
            android:label="@string/title_activity_select_competition"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AddMatchesFrontActivity"
            android:label="@string/title_activity_add_matches"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AddMatchesAutonomousActivity"
            android:label="AddMatchesAutonomousActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ViewMatchDataActivity"
            android:label="@string/title_activity_view_match_data"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AddMatchesTeleop"
            android:label="@string/title_activity_add_matches_teleop"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ViewMatchDataTeamActivity"
            android:label="@string/title_activity_view_match_data_team"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ViewMatchDataMatchActivity"
            android:label="@string/title_activity_view_match_data_match"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AddTeamToCompetitionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".NotesActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".OuterMenuActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".InnerMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
