<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anthony.ftcscoutingappfinal" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".FrontpageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondPageActivity"
            android:label="@string/title_activity_second_page"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AutonomousInputLayout"
            android:label="@string/title_activity_autonomous_input_layout"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".TeleopInputLayout"
            android:label="@string/title_activity_teleop_input_layout"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
